@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.primary-color {
  color: #ff42a5;
  font-size: 40px;
  font-weight: 700;
}

.secondary-color {
  color: #0B0223;
  font-size: 40px;
  font-weight: 700;
}

.gamer {
  width: 86.041px;
  height: 40px;

}

.header {
  display: flex;
  align-items: center;
  padding-left: 200px;
}

.container {
  display: flex;
}

.description {
  text-decoration: none;
  color: #3C354F;
  text-align: center;
  font-size: 18px;
  font-weight: 500;

}

.menu-bar>ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 55px 30px 55px 30px;
}

nav li,
a {
  text-decoration: none;
}

.follow>ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.heading-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.follow {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  margin: 37px 150px 37px 30px;
  padding-right: 20px;
}

.follow-us {
  color: #3C354F;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

nav {
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* main section */
/* Play like the goat section */
.play-img {
  width: 15px;
  height: 15px;
  padding-right: 12px;
}

.button1 {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  color: #FFF;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border: 0px;
}

.button2 {
  border-radius: 48px;
  background: #4EC5F7;
  color: #FFF;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border: 0px;
}

.group-players {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.play-like-goat {
  background-image: url(./images/Group\ 14.png);
  padding: 240px;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

/* group photo section */
.we-are-gamer {
  display: flex;
  margin-left: 100px;
}

.group-img {
  width: 700px;
  height: 450px;
  margin-right: 100px;
}

.gamer-container {
  align-items: center;
  text-align: right;
  margin-right: 200px;
}

.container-des {
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

.purpose {
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  /* 187.5% */
}

.bold {
  color: #534C64;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;
}

/* section 2 */
.bold-color {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}

.ogfv {
  color: #0B0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.online-gdes {
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 60px;
  /* 166.667% */
}

.rectangle-img {
  width: 342px;
  height: 400px;
  display: flex;
  gap: 24px;
  padding-left: 40px;
}

.rectangle-des {
  color: #534C64;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  /* 150% */
  max-width: 300px;
}

.play-ins {
  margin-top: 150px;
  margin-left: 200px;
  border-radius: 8px;
  margin-bottom: 200px;
}

.play-sec3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.combine-img {
  display: flex;
  flex-direction: column;
}

.play-ins-img {
  margin-top: 150px;
  width: 600px;
  height: 650px;
  padding-left: 150px;
}

.play-ins-logo {
  height: 300px;
  width: 300px;
  position: relative;
  bottom: 200px;
}

.pink-container {
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pink-button {
  border-radius: 48px;
  background: #fff;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(250, 3, 188);
  border: 0px;
  margin-bottom: 100px;
}

.pink-section {
  margin-left: 140px;
  width: 400px;
}

.pink-head {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.pink-para {
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  width: 500px;
  line-height: 20px;
  padding-right: 300px;
}

.pink-para-desc1 {
  display: flex;
  width: 900px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
}

.pink-para-desc2 {
  text-align: right;
}

.pink-group-img {
  width: 900px;
  height: 821px;
}


/* icon and button section */
.action-games {
  height: 427px;
  flex-shrink: 0;
}

.iconic-img {
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  row-gap: 80px;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
}

.grid-img {
  border: 1px solid rgb(254, 1, 208);
  color: #0B0223;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  border-radius: 50px;
  width: 243px;
  height: 70px;
}

/* footer section */
.footer-container {
  background: #0B0223;

  height: 636px;
  flex-shrink: 0;
}

.gamer1 {
  width: 86.041px;
  height: 40px;
  margin-top: 70px;
  margin-right: 20px;
}

.logo-title {
  display: flex;
  font-size: 45px;
  font-weight: 700;
  justify-content: center;
  color: white;
}

.white-logo {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
}

.store-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  margin-bottom: 30px;
}

.store-para {
  color: #FFF;
  text-align: center;
  font-fsize: 18px;
  font-weight: 600;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

.terms-con {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.60);
}